body{
    margin: 0;
}

.header{
    background-image: url(../img/pattern.png);
    background-color: skyblue;
    height: 100px;
    background-size: 600px;
}

.logo{
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
}

main, footer{
    width: 80%;
    margin: auto;
}

main header p, footer p{
    color: gray;
    font-weight: 700;
}

#the_booleaner{
    color: skyblue;
}

#date{
    font-size: 12px;
}

main header div{
    font-size: 12px;
}

.colored{
    background-color: yellow;
}


section ul{
    padding-inline-start: 16px;
}

table{
    border-spacing: 0;
}

.special_row{
    width: 50%;
}

thead tr{
    background-color: rgb(0, 217, 255);
    color: white;
}

.row_colored{
    background-color:lightskyblue;
}

footer div{
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;

}

.monitor{
    background-image: url(../img/monitor.jpg);
    margin-bottom: 20px;
}

.graph{
    background-image: url(../img/graph.jpg);
}


footer div p{
    color: white;
    padding: 20px 20px;
    font-size: 20px;
}