body{
    margin: 0;
}

header{
    background-image: url(../img/pattern.png);
    background-color: skyblue;
    height: 200px;
    background-size: 600px;
}

.logo{
    height: 150px;
    margin-top: 50px;
    margin-left: 10px;
}