body{
    margin: 0;
}

.header{
    background-image: url(../img/pattern.png);
    background-color: skyblue;
    height: 100px;
    background-size: 600px;
}

.logo{
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
}

main{
    margin: 10px;
}

main header p{
    color: gray;
    font-weight: 700;
}

#the_booleaner{
    color: skyblue;
}

#date{
    font-size: 12px;
}

main header div{
    font-size: 12px;
}

.colored{
    background-color: yellow;
}

section ul{
    padding-inline-start: 16px;
}